/BlibliotecaModelo.class
/Libro.class
/Prestamo.class
/Usuario.class
/BlibliotecaModelo$BibliotecaModelo.class
/BibliotecaModelo.class
/BibliotecaGUI.class
/BibliotecGui.class
/BibliotecaGui.class
/BibliotecaGui$1.class
/BibliotecaGui$2.class
